<ng-image-slider [infinite]="infinite"
                 [images]="imageObject"
                 [imagePopup]="imagePopup"
                 [animationSpeed]="animationSpeed"
                 [slideImage]="slideImage"
                 [imageSize]="imageSize"
                 [manageImageRatio]="manageImageRatio"
                 [showArrow]="showArrow"
                 [direction]="direction"
                 [autoSlide] = "autoSlide"
                 #nav>
</ng-image-slider>
<style>
  slider-lightbox
  {
    height:100vh!important;
    display:block!important;
  }

</style>
